{% extends 'feedback/base.html' %}
{% block title %}Customer Feedback{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-header bg-primary text-white text-center">
                <h4>Submit Feedback</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Select Company</label>
                        <select name="company" class="form-select" required>
                            {% for company in companies %}
                                <option value="{{ company.id }}">{{ company.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Your Feedback</label>
                        <textarea name="message" class="form-control" rows="4" required></textarea>
                    </div>

                    <button class="btn btn-success w-100">Submit Feedback</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
